body {
	margin:0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size:14px;
	text-transform: uppercase;
	line-height: 21px;
	color: #333333;
	background-color:#f2f2f2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.main-content {
	background-image: url(../img/background-rock.jpg);
	background-repeat: no-repeat;
}


.nav-item:hover {
	color:#81b3d2;
}

.nav-item {
	font-weight: bold;
	text-decoration: none;
	color:#000;
}

.nav-active {
  color:#766357;
  font-weight: bold;
}

.main-introduction {
	text-align: center;
}

.introduction-title {
	font-weight: bold;
	font-size: 21px;
}

.descripton h3 {
	font-size: 21px;
	font-weight: bold;
}

.descripton {
	background-color: #81b3d2;
	color:#fff;
}

.features-title {
	font-size: 21px;
	font-weight: bold;
}

.features {
	background: #eee;
}

.offer-title {
	font-size: 32px;
	font-weight: bold;
}

.offer-search {
	font-size: 21px;
	font-weight: bold;
	background: #766357;
	color:#fff;
}

.footer-hashtag {
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
}

/*Страница каталога*/

.choose-checkbox {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  color: #fff;
}

.form-title {
  font-size: 16px;
  font-weight: bold;
}

.search-title {
  font-size: 21px;
  font-weight: bold;
}

.search-classification,
.search-list {
  font-size: 12px;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
}