body {
	margin:0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size:14px;
	text-transform: uppercase;
	line-height: 21px;
	color: #333333;
	background-color:#f2f2f2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

.main-content {
	background-image: url(../img/background-rock.jpg);
	background-repeat: no-repeat;
}


.nav-item:hover {
	color:#81b3d2;
}

.nav-list li {
  list-style: none;
}

.nav-item {
	font-weight: bold;
	text-decoration: none;
	color:#000;
}

.nav-active {
  color:#766357;
  font-weight: bold;
}

.main-introduction {
	text-align: center;
}

.introduction-title {
	font-weight: bold;
	font-size: 21px;
}

.descripton h3 {
	font-size: 21px;
	font-weight: bold;
}

.descripton {
	background-color: #81b3d2;
	color:#fff;
}

.features-title {
	font-size: 21px;
	font-weight: bold;
}

.features-items {
  list-style: none;
}

.features {
	background: #eee;
}

.offer {
  background-color: #ffffff;
}

.offer-title {
	font-size: 32px;
	font-weight: bold;
}

.offer-search {
  width: 575px;
  position: absolute;
  display: flex;
  bottom: -1300px;
  left: 50%;
  right: 50%;
}

.footer-hashtag {
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
}

/*Страница каталога*/

.choose-checkbox {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  color: #fff;
}

.form-title {
  font-size: 16px;
  font-weight: bold;
}

.search-title {
  font-size: 21px;
  font-weight: bold;
}

.search-item {
  color: rgba(0, 0, 0, 0.3);
}

.search-аctive {
  color:#81b3d2;
}

.search-list li {
  list-style: none;
}

.search-classification,
.search-list {
  font-size: 12px;
}

.arrows-list li {
  list-style: none;
}

.hotel-content {
  list-style: none;
}

.motel-content {
  list-style: none;
}

.villa-content {
  list-style: none;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  margin:0;
}

.social-list {
  list-style: none;
}

/*Сетки*/

.main-menu {
  display: flex;
  width: 1200px;
  margin:0 auto;
  background-color:#ffffff;
  position: relative;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 100%;
  margin:0;
}

.nav-list li:nth-child(4n+2) {
  margin-right: 240px;
}

 .nav-list li {
  width: 240px; 
  text-align: center;
  padding: 17px 0;
}

.main-content {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid transparent;
}

.main-introduction {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 216px;
  background-color: #ffffff;
  justify-content: center;
}

.logo-container {
  position: absolute;
  top:0;
  left: 530px;
}

.intro {
  display: flex;
  padding-top: 78px;
  justify-content: center;
  position: relative;
}

.intro::after {
  position:absolute;
  content:"";
  width:100%;
  height:57px;
  z-index:1;
  background-image:url(../img/rock-decore.svg);
  bottom:0;
}

.descripton {
  display: flex;
}

.texts-descripton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:0 60px;
}

.descripton-photo {
  width: 800px;
}

.features-list {
  display: flex;
  height: 334px;
  margin:0;
  padding: 0;
  position: relative;
}

.features-items {
  width: 400px;
  text-align: center;
  justify-content: center;
  align-self: center;
  padding:0 73px;
}


.features-icons-home::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  width: 85px;
  height: 90px;
  top:40px;
  left: 160px;
}

.features-icons-burger::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  width: 85px;
  height: 90px;
  top:40px;
  left: 560px;
}

.features-icons-souvenir::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  width: 85px;
  height: 90px;
  top:40px;
  right: 150px;
}

.offer {
  display: flex;
  height: 292px;
  text-align: center;
  flex-direction: column;
}

.offer-title {
  align-items: center;
}

.main-footer {
  min-height: 120px;
  display: flex;
  width: 1200px;
  margin:0 auto;
  padding:46px 0;
  position: relative;
}

.footer-hashtag {
  width: 400px;
  min-height: 120px;
  display: flex;
  align-items:center;
  justify-content:center;
}

.footer-social {
  display:flex;
  width: 400px;
  align-items:center;
  justify-content:center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding:0;  
}


.image-link {
  display: block;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  color: #fff;
  background-color: #81b3d2;
}

.footer-logo {
  width: 400px;
  align-self: center;
}

/*Сетки страница каталога*/

.main-content-inner {
  width: 1200px;
  margin: 0 auto;
}

.main-logo {
  padding-bottom: 40px;
}

.choose-checkbox {
  height: 218px;
  display: flex;
  padding-left: 73px;
}

.search {
  width: 1050px;
  height: 86px;
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
}

.search-order {
  display: flex;
  width: 240px;
  align-items: center; 
}

.search-title {
  margin-right: 50px;
}

.search-list {
  display: flex;
  width: 288px;
  align-items: center;
  flex-grow: 1;
}

.arrows-list {padding:0;}
.search-item:nth-child(1){
  margin-right: 30px;
}

.search-item:nth-child(2){
  margin-right: 35px;
}

.amara-resort, 
.desert-quail-inn,
.villas-poco-diablo {
  width: 1050px;
  display: flex;
  height: 150px;
  padding-left:75px;
  padding-right: 75px;
}

.amara-resort img, 
.desert-quail-inn img,
.villas-poco-diablo img {
  margin-right: 30px;
  padding-left: 35px;
}

.hotel-services {
  width: 215px;
}

.hotel {
  margin-right:40px;
}

.hotel-reservation {
  width: 260px;
  height: 90px;
  flex-grow: 1;
}

.hotel-details {
  display: flex;
  flex-direction: column;
}

.blue-btn {
  color:#ffffff;
  background-color:#81b3d2;
}

.choose-infrastructure {
  width: 255px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.choose-housing {
  display: flex;
  width: 255px;
  flex-wrap: wrap;
  flex-direction: column;
}

.choose-filter {
  display: flex;
  flex-grow: 1;
}

.hotels-price-details {
  display: flex;
}

.hotel-name {
  width: 230px;
  margin-bottom: 17px;
}

.filter {
  margin: 0 auto;
  padding: 25px;
  width: 300px;
  background-color: #eeeeee;
}

.filter-range-wrapper {
  margin-bottom: 10px;
  padding: 39px 18px;
  border-radius: 3px;
  background-color: #3f4445;
}

.filter-range {
  position: relative;
}

.filter-range-scale {
  height: 2px;
  background-color: #d7dcde;
}

.filter-range-bar {
  height: 2px;
  width: 75%;
  background-color: #00ca74;
}

.filter-range-handle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  box-sizing: content-box;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #3f4445;
  cursor: pointer;
}

.filter-interval {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-interval label {
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-interval label:last-child {
  text-align: right;
}

.filter-interval input {
  margin-left: 8px;
  width: 80px;
  height: 38px;
  border-radius: 2px;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: #3f4445;
}
